# Jonathan Bunch

2 September 2021

Bellevue University

DSC550-T301

---

# Week 1 Exercises: 2D Arrays

In [1]:
# Import libraries.
import numpy as np
import pandas as pd

# Set a seed value for repeatability.
np.random.seed(17)

### 1. Create an array of size [10,50] and use the random function to fill it with integers between 1 and 500 (inclusive). Load it to a DataFrame.

In [2]:
# Naturally, there are many ways to accomplish these tasks.  I think the simplest is to use the "randint()" method.
# This will create an array of the specified size and fill it with the specified random integers.
a1 = np.random.randint(low=1, high=501, size=(10, 50))

# Check the results.
print("Shape of array:", a1.shape, "\nMin Value:", a1.min(), "\nMax Value:", a1.max())

# Load the array into a DataFrame.
df = pd.DataFrame(a1)

# View the first few rows to make sure it matches what is expected.
df.head(3)

Shape of array: (10, 50)
Min Value: 1
Max Value: 500

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,112,242,144,391,407,314,241,430,279,32,...,167,3,45,439,378,142,57,284,235,340
1,307,50,61,378,9,436,284,499,380,472,...,22,13,146,282,364,213,90,376,132,75
2,318,356,316,290,304,142,263,46,254,111,...,278,424,318,164,116,90,399,409,312,406

### 2. Calculate the sum of each row; the sum of each column; and the sum of all entries.

In [3]:
# We can use the "sum()" method to calculate these values. In this case, the "axis" parameter determines the
# axis that will be aggregated. To calculate the sum of each row, we want to aggregate the column values (axis 1).
print("Sum of each row:")
df.sum(axis=1).head()

Sum of each row:

0    12821
1    12361
2    12238
3    13888
4    11678
dtype: int64

In [4]:
# The sum of each column can be calculated using the same method across the other axis.
print("Sum of each column:")
df.sum(axis=0).head()

Sum of each column:

0    2940
1    3077
2    2875
3    2415
4    3007
dtype: int64

In [5]:
# One way to calculate the sum of all entries is to use the ".values" attribute of the dataframe.
print("Sum of all entries:")
df.values.sum()

Sum of all entries:

126656

### 3. Determine the minimum; maximum; average; and standard deviation of all entries.

In [6]:
# Summary statistics can be conveniently calculated for each column using the "describe" method.
df.describe()

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
count,10.000000,10.000000,10.00000,10.00,10.000000,10.000000,10.00000,10.000000,10.000000,10.000000,...,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000
mean,294.000000,307.700000,287.50000,241.50,300.700000,317.600000,294.00000,258.300000,248.300000,221.500000,...,179.400000,186.500000,280.100000,265.300000,260.700000,234.000000,183.900000,255.200000,326.200000,305.800000
std,141.198835,152.826009,145.28994,112.51,130.222929,115.998276,126.55697,184.274584,139.909534,195.353383,...,92.730434,172.932389,169.874104,139.001239,144.009298,98.946675,136.964269,136.000654,102.473628,154.172919
min,76.000000,50.000000,61.00000,46.00,9.000000,142.000000,62.00000,9.000000,44.000000,32.000000,...,22.000000,3.000000,45.000000,23.000000,23.000000,90.000000,57.000000,29.000000,132.000000,75.000000
25%,178.500000,197.250000,181.75000,159.75,256.750000,215.750000,246.50000,75.250000,136.000000,71.750000,...,108.250000,26.750000,148.500000,173.000000,130.500000,174.500000,86.250000,136.000000,259.500000,166.000000
50%,312.500000,299.000000,320.00000,240.00,321.500000,357.500000,283.50000,294.000000,235.000000,106.000000,...,183.000000,169.000000,300.000000,282.500000,297.000000,222.000000,118.000000,281.500000,335.500000,350.500000
75%,394.250000,437.500000,373.25000,335.00,392.500000,402.500000,383.00000,415.000000,354.750000,423.000000,...,264.500000,267.500000,445.750000,346.250000,374.500000,283.000000,267.000000,365.250000,411.750000,418.000000
max,491.000000,500.000000,461.00000,391.00,454.000000,436.000000,498.00000,499.000000,473.000000,488.000000,...,278.000000,484.000000,474.000000,457.000000,431.000000,440.000000,419.000000,409.000000,451.000000,477.000000

In [7]:
# This method can also be applied to subsets or slices. For example, the first row.
df.iloc[0, :].describe()

count     50.000000
mean     256.420000
std      152.920827
min        3.000000
25%      142.500000
50%      265.000000
75%      389.000000
max      495.000000
Name: 0, dtype: float64

In [8]:
# We can use the ".values" attribute again to calculate these statistics for all entries.
print("Overall min:", df.values.min())
print("Overall max:", df.values.max())
print("Overall mean:", df.values.mean())
print("Overall standard deviation:", df.values.std())

Overall min: 1
Overall max: 500
Overall mean: 253.312
Overall standard deviation: 145.55258381767052

### 4. Sort the DataFrame: a) sort on column 2; b) sort on row 2.

In [13]:
# Sort the dataframe on column 2.
df.sort_values(by=2, axis=0)

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
1,307,50,61,378,9,436,284,499,380,472,...,22,13,146,282,364,213,90,376,132,75
6,141,500,78,180,307,406,416,9,44,381,...,75,159,156,335,117,296,85,97,359,422
0,112,242,144,391,407,314,241,430,279,32,...,167,3,45,439,378,142,57,284,235,340
7,377,456,295,350,454,156,329,163,413,101,...,263,484,469,23,431,244,85,395,288,93
2,318,356,316,290,304,142,263,46,254,111,...,278,424,318,164,116,90,399,409,312,406
8,427,382,324,235,241,392,62,269,119,488,...,274,268,464,120,322,314,104,279,438,477
9,291,177,365,46,413,183,498,319,216,86,...,160,50,474,200,413,440,168,29,451,460
4,400,234,376,147,349,392,283,33,187,40,...,265,179,282,350,23,206,132,333,372,361
3,491,185,455,245,187,323,163,370,473,67,...,91,19,391,457,171,231,300,97,250,304
5,76,495,461,153,336,432,401,445,118,437,...,199,266,56,283,272,164,419,253,425,120

In [14]:
# Sort the dataframe on row 2.
df.sort_values(by=2, axis=1)

,18,16,26,12,7,35,45,30,9,44,...,1,23,25,46,19,49,47,41,11,37
0,42,239,167,469,430,434,142,31,32,378,...,242,320,476,57,185,340,284,3,40,318
1,203,464,277,27,499,180,213,229,472,364,...,50,73,461,90,3,75,376,13,492,142
2,11,25,41,44,46,67,90,107,111,116,...,356,384,389,399,403,406,409,424,431,443
3,362,364,461,405,370,455,231,121,67,171,...,185,161,250,300,195,304,97,19,336,470
4,494,58,381,2,33,105,206,374,40,23,...,234,67,219,132,128,361,333,179,345,240
5,25,344,276,261,445,481,164,320,437,272,...,495,27,435,419,308,120,253,266,218,169
6,1,338,388,27,9,48,296,48,381,117,...,500,129,89,85,414,422,97,159,11,105
7,150,219,375,375,163,467,244,129,101,431,...,456,330,117,85,326,93,395,484,410,172
8,25,158,259,267,269,111,314,94,488,322,...,382,360,91,104,246,477,279,268,450,120
9,257,142,454,5,319,268,440,390,86,413,...,177,369,373,168,260,460,29,50,317,222